Package: com.afiq.iconlabelcolor
Name: IconLabelColor
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Afiq
Author: Afiq
Section: Tweaks
