Package: com.afiq.iconlabelcolor
Name: IconLabelColor
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Jailbreak tweak to change the text color of the icon label
Maintainer: Afiq
Author: Afiq
Section: Tweaks
